@import '../../scss/1-utils/#index';

.container {
  display:flex;
  height: 93.5vh;
  background-size: 2000px;
  font-family: 'Raleway', sans-serif;
  
  .login-form, .signup-form {
    width:50%;
    max-width:500px;
    margin:auto;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    
    .form-title {
      margin-bottom: 20px;
      text-align:center;
      font-size:2rem;
    }
    
    input {
      width:100%;
      height: 40px;
      border-radius: 8px;
      margin: 5px 0;
      transition: 0.3s;
      padding-left: 5px;
      
      &:focus {
        box-shadow: 0px 0px 5px 2px #1890ff;
      }
    }
    
    .submit {
      border: 0;
      margin: 5px auto;
      width: 100%;
    }
    
    .error {
      display:flex;
      align-items:center;
      color:black;
      width:100%;
      background-color: #ffa39e;
      height: 40px;
      border: 2px solid red;
      padding-left: 5px;
      border-radius: 5px;
      margin: 5px 0;
    }
  }
}
